/*Reset*/

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/*CSS BODY*/
body{
    font-family: 'Open Sans', sans-serif;
}

/*CSS HEADER*/
header{
    height: 650px;
}

.flex{
    display: flex;
}

.nav{
    width: 50%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.nav{
    width: 50%;
}


.jumbo{
    background-color: #B4D0E7;
    border: solid magenta 2px;
    padding-top: 6rem;
}

.jumbo-container{
    width: 70%;
    margin: 0 auto;
    background-color: goldenrod;
}

.jumbotron{
    height: 500px;
}


/*CSS MAIN*/

.container{
    width: 60%;
    /*height: 700px;*/
    margin: 0 auto;
    border: magenta solid 2px;
    margin-bottom: 4rem;
}

.card{
    width: calc(100% / 3);
    border: orangered solid 1px ;
    height:700px;

}

.container-title{
    width: 60%;
    margin: 0 auto;
    height: 100px;
    border: magenta solid 2px;
}

.centre-card{
    margin: 0 2rem;
}

.horizontal-card{
    height: 200px;
    border: magenta solid 2px;
    margin-bottom: 4rem;
}

.column{
    height: 400px;
    border: magenta solid 2px;
}

.column-big{
    width: 60%;
}

.column-small{
    width: 40%;
}

.business-card{
    width: calc(100% / 3);
    height: 400px;
    border: black solid 2px;
}

.flex-wrap{
    flex-wrap: wrap;
}