/*Reset*/

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/*CSS BODY*/
body{
    font-family: 'Open Sans', sans-serif;
}

/*CSS HEADER*/
header{
    height: 50px;
}

.flex{
    display: flex;
}

.nav{
    width: 50%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.nav{
    width: 50%;
}


.jumbo{
    background-color: #B4D0E7;
    border: solid magenta 2px;
    padding-top: 6rem;
}

.jumbo-container{
    width: 70%;
    margin: 0 auto;
    background-color: goldenrod;
}

.jumbotron{
    height: 500px;
}